-- Add group_id column to activity_chains table
ALTER TABLE activity_chains 
ADD COLUMN group_id INT,
ADD CONSTRAINT fk_activity_chain_group
FOREIGN KEY (group_id) REFERENCES groups_(id)
ON DELETE SET NULL;
